*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80vh min-content 40vw (min-content)[3];
      grid-template-rows: 80vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
      grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  -ms-grid-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

@media only screen and (max-width: 62.5em) {
  .container {
    -ms-grid-rows: 6rem 80vh min-content 40vw (min-content)[3];
        grid-template-rows: 6rem 80vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
        grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    -ms-grid-columns: [full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }
}

@media only screen and (max-width: 50em) {
  .container {
    -ms-grid-rows: 6rem calc(100vh - 6rem);
        grid-template-rows: 6rem calc(100vh - 6rem);
  }
}

section .features,
section .home {
  display: none;
}

.slider {
  overflow-y: hidden;
  max-height: 0;
  /* approximate max height */
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
          transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
  max-height: 500px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(1, 1, 0.5, 0);
          transition-timing-function: cubic-bezier(1, 1, 0.5, 0);
}

iframe {
  height: 39rem;
  width: 80rem;
  margin: 5rem 5rem 5rem 1rem;
  background-color: #2154ac;
  -webkit-box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.4);
          box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 37.5em) {
  iframe {
    max-width: 87vw;
  }
}

#g6074 {
  z-index: 200;
}

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}

.heading-2--light {
  color: #f9f7f6;
}

.heading-2--dark {
  color: #54483a;
}

.heading-3 {
  font-size: 1.6rem;
  color: #2154ac;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 1.9rem;
}

.heading-4--light {
  color: #f9f7f6;
}

.heading-4--dark {
  color: #54483a;
}

.btn {
  background-color: #2154ac;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #1b458d;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.sidebar {
  background-color: #2154ac;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 62.5em) {
  .sidebar {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #2154ac;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem;
}

.nav-btn::before, .nav-btn::after {
  background-color: #2154ac;
  height: 2px;
  width: 4.5rem;
  content: '';
  display: block;
}

.nav-btn::before {
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
}

.nav-btn::after {
  -webkit-transform: translateY(1.3rem);
          transform: translateY(1.3rem);
}

@media only screen and (max-width: 62.5em) {
  .nav-btn {
    margin-top: 0;
    margin-right: 3rem;
  }
  .nav-btn::before {
    -webkit-transform: translateY(-1.2rem);
            transform: translateY(-1.2rem);
  }
  .nav-btn::after {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

.header {
  background-color: #54483a;
  grid-column: full-start / col-end 6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 29, 44, 0.7)), to(rgba(16, 29, 44, 0.7))), url(../img/hero.png);
  background-image: linear-gradient(rgba(16, 29, 44, 0.7), rgba(16, 29, 44, 0.7)), url(../img/hero.png);
  background-size: 12rem;
  /*background-position: ;*/
  padding: 4rem;
  padding-top: 0rem;
  max-height: 85vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr min-content minmax(6rem, min-content);
      grid-template-rows: 1fr -webkit-min-content minmax(6rem, -webkit-min-content);
      grid-template-rows: 1fr min-content minmax(6rem, min-content);
  grid-row-gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 50em) {
  .header {
    grid-column: 1 / -1;
  }
}

@media only screen and (max-width: 37.5em) {
  .header {
    padding: 5rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.header__logo {
  max-height: 80vh;
  padding-right: 2rem;
  margin-top: -2rem;
  margin-left: -8rem;
  height: 70rem;
  -ms-grid-column-align: left;
      justify-self: left;
}

@media only screen and (max-width: 37.5em) {
  .header__logo {
    width: 95vw;
    height: auto;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 2rem;
  }
}

.header__sub {
  max-height: 85vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-rows: 1fr min-content minmax(6rem, min-content) 1fr;
      grid-template-rows: 1fr -webkit-min-content minmax(6rem, -webkit-min-content) 1fr;
      grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
}

@media only screen and (max-width: 37.5em) {
  .header__sub {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

.header__btn {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: start;
      justify-self: start;
}

@media only screen and (max-width: 37.5em) {
  .header__btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.header__seenon-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  color: #aaa;
}

.header__seenon-text::before, .header__seenon-text::after {
  content: '';
  height: 1px;
  display: block;
  background-color: currentColor;
}

.header__seenon-logos {
  min-height: 6rem;
  margin-top: -2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__seenon-logos img {
  height: 3.5rem;
  max-height: 8rem;
  max-width: 100%;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.header__seenon-logos img:hover {
  height: 5.5rem;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  margin-top: 0rem;
}

@media only screen and (max-width: 37.5em) {
  .header__seenon-logos img {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

.header .heading-2 {
  color: #c2bcbc;
  padding-top: 20rem;
  text-shadow: 0.25rem 0.25rem 0.25rem #74788f;
}

@media only screen and (max-width: 37.5em) {
  .header .heading-2 {
    padding-top: 1rem;
    text-align: center;
  }
}

@media only screen and (max-width: 37.5em) {
  .header .heading-1 {
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
  }
}

.recomendation {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  grid-row-gap: 2rem;
}

@media only screen and (max-width: 62.5em) {
  .recomendation {
    grid-column: 1 / -1;
  }
}

.recomendation__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content max-content;
      grid-template-columns: -webkit-min-content -webkit-max-content;
      grid-template-columns: min-content max-content;
  grid-column-gap: 2rem;
  grid-row-gap: 2vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 50em) {
  .recomendation__list {
    -ms-grid-columns: (min-content max-content)[3];
        grid-template-columns: repeat(3, -webkit-min-content -webkit-max-content);
        grid-template-columns: repeat(3, min-content max-content);
  }
}

@media only screen and (max-width: 37.5em) {
  .recomendation__list {
    -ms-grid-columns: min-content max-content;
        grid-template-columns: -webkit-min-content -webkit-max-content;
        grid-template-columns: min-content max-content;
  }
}

.recomendation__img {
  width: 12rem;
  border-radius: 50%;
  display: block;
}

@media only screen and (max-width: 37.5em) {
  .recomendation__img {
    width: 9rem;
  }
}

.recomendation__sold {
  text-transform: uppercase;
  color: #aaa;
  margin-top: -3px;
}

@media only screen and (max-width: 37.5em) {
  .recomendation .heading-2 {
    font-size: 3rem;
    text-align: center;
  }
}

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: none;
}

@supports (display: grid) {
  .features {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.feature {
  float: left;
  width: 33.3333%;
  margin-bottom: 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
}

@supports (display: grid) {
  .feature {
    width: auto;
    margin-bottom: 0;
  }
}

.feature__icon {
  fill: #2154ac;
  width: 4.5rem;
  height: 4.5rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.feature__text {
  font-size: 1.7rem;
}

.story__pictures {
  background-color: #2154ac;
  grid-column: full-start / col-end 4;
  background-image: -webkit-gradient(linear, left top, right top, from(#2154ac), to(rgba(33, 84, 172, 0.5))), url(../img/LJ3Pr-5s.jpeg);
  background-image: linear-gradient(to right, #2154ac, rgba(33, 84, 172, 0.5)), url(../img/LJ3Pr-5s.jpeg);
  background-size: cover;
  background-position: right top;
  size: 85%;
  -ms-grid-row-align: right;
      align-self: right;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 50em) {
  .story__pictures {
    grid-column: 1 / -1;
    padding: 6rem;
  }
}

.story__img--1 {
  width: 120%;
  margin-top: -12rem;
  margin-left: -8rem;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2 / 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 50em) {
  .story__img--1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    grid-row: 1 / -1;
  }
}

@media only screen and (max-width: 37.5em) {
  .story__img--1 {
    margin-top: -3rem;
    margin-left: -3rem;
  }
}

.story__img--2 {
  width: 75%;
  margin-left: 1rem;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / 6;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
  z-index: 20;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 50em) {
  .story__img--2 {
    grid-row: 1 / -1;
    width: 100%;
  }
}

@media only screen and (max-width: 37.5em) {
  .story__img--2 {
    margin-top: 12rem;
  }
}

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  padding: 6rem 1vw;
  /*
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        */
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: start;
}

@media only screen and (max-width: 50em) {
  .story__content {
    grid-column: 1 / -1;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
  }
}

@media only screen and (max-width: 37.5em) {
  .story__content {
    padding-left: 1rem;
  }
}

.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem;
}

.storyvid {
  position: relative;
  display: none;
}

.story #slider1 {
  position: absolute;
  top: 25rem;
  width: 0.33vw;
  background-color: #2154ac;
}

.favorites {
  grid-column: center-start / center-end;
  margin: 8rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  /*position: relative;*/
  height: 52rem;
}

.card__side {
  height: 52rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(16, 29, 44, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(16, 29, 44, 0.15);
}

.card__side--front {
  background-color: #f9f7f6;
  padding: 1rem;
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__side--back-1, .card__side--back-2, .card__side--back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(40%, rgba(249, 247, 246, 0.1)), to(rgba(33, 84, 172, 0.33))), url(img/logos/hdr-1-a2.png);
  background-image: linear-gradient(to right bottom, rgba(249, 247, 246, 0.1) 40% 66deg, rgba(33, 84, 172, 0.33)), url(img/logos/hdr-1-a2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  height: 35rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card__picture--1 {
  background-image: url(img/food/Food2.jpg);
}

.card__picture--2 {
  background-image: url(img/food/Food2.jpg);
}

.card__picture--3 {
  background-image: url(img/food/Food2.jpg);
}

.card__heading {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #f9f7f6;
  position: absolute;
  top: 25rem;
  right: 2rem;
  width: 75%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card__heading-span--1, .card__heading-span--2, .card__heading-span--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(33, 84, 172, 0.85)), to(rgba(27, 69, 141, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(33, 84, 172, 0.85), rgba(27, 69, 141, 0.85));
}

.card__details {
  padding: 1rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #aaa;
}

.card__cta {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  text-align: center;
  color: #1b458d;
  margin-top: 10rem;
}

.card__price-box.btn {
  font-family: inherit;
  padding: 1rem 3rem;
  margin-top: -2rem;
}

.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 4rem;
  font-weight: 100;
  margin-top: 12rem;
}

@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #f9f7f6;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(16, 29, 44, 0.15);
            box-shadow: 0 1.5rem 4rem rgba(16, 29, 44, 0.15);
  }
  .card__side {
    width: 200%;
    height: auto;
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .card__side--back {
    visibility: hidden;
    /*transform: rotateY(0);
				clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);*/
  }
  .card:hover .card__side--front {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  .card__details {
    padding: 1rem 3rem;
  }
  .card__cta {
    position: relative;
    top: 0%;
    left: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
    width: 100%;
    padding: 7rem 4rem 4rem 4rem;
  }
  .card__price-box {
    margin-bottom: 3rem;
  }
  .card__price-value {
    font-size: 4rem;
  }
}

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start / full-end;
  display: -ms-grid;
  display: grid;
  /*grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);*/
  -ms-grid-rows: (5vw)[7];
  -ms-grid-columns: (1fr)[8];
      grid-template: repeat(7, 5vw)/repeat(8, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}

.gallery__item--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.gallery__item--2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / span 3;
}

.gallery__item--3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
}

.gallery__item--4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  grid-column: 7 / -1;
}

.gallery__item--5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / span 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.gallery__item--6 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / span 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
}

.gallery__item--7 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
}

.gallery__item--8 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / span 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / span 2;
}

.gallery__item--9 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / span 3;
  grid-column: 8 / -1;
}

.gallery__item--10 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.gallery__item--11 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

.gallery__item--12 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

.gallery__item--13 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5 / span 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / span 3;
}

.gallery__item--14 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
  grid-column: 8 / -1;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

@media only screen and (max-width: 37.5em) {
  .gallery {
    display: none;
  }
}

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 29, 44, 0.7)), to(rgba(16, 29, 44, 0.7))), url(../img/hero.png);
  background-image: linear-gradient(rgba(16, 29, 44, 0.7), rgba(16, 29, 44, 0.7)), url(../img/hero.png);
  background-size: 12rem;
  padding: 8rem;
}

.nav {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link:link,
.nav span, .nav__link:visited {
  font-size: 2.4rem;
  color: #fff;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav__link:hover,
.nav span:hover, .nav__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%;
}

/* (A) POPUP WRAPPER */
#popwrap {
  /* (A1) FULLSCREEN COVER*/
  position: fixed;
  top: 2vw;
  left: 12.5vw;
  width: 75vw;
  height: 65vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
  /* (A2) CENTER BOX ON PAGE */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* (A3) HIDDEN BY DEFAULT */
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* (A4) SHOW POPUP */
#popwrap.open {
  opacity: 1;
  visibility: visible;
}

/* (B) POPUP BOX */
#popbox {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 50vw;
  max-height: 75vh;
}

/* (C) TITLE + TEXT + CLOSE BUTTON  */
#poptitle {
  background: #1b458d;
}

#popcontent {
  background: #fff;
}

#popcontent .contact__content {
  max-width: 55vw;
  max-height: 35vh;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: [col1-start] 1fr [col2-start] 1fr [col3-start] 1fr [col3-end];
      grid-template-columns: [col1-start] 1fr [col2-start] 1fr [col3-start] 1fr [col3-end];
  -ms-grid-rows: [row1-start] auto [row2-start] auto [row2-end];
      grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}

#popcontent .contactbox .email {
  grid-column: col1-start / col2-start;
  grid-row: row1-start;
}

#popcontent .contactbox .address {
  grid-column: col2-start;
  grid-row: row1-start;
}

#popcontent .contactbox .phone {
  grid-column: col3-start;
  grid-row: row1-start;
}

#popcontent .contactform {
  grid-column: col1-start/col3-end;
  grid-row: row2-start;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [col1-start] 1fr [col2-start] 1.5fr;
      grid-template-columns: [col1-start] 1fr [col2-start] 1.5fr;
  grid-gap: 1rem;
  padding: 1rem;
  background: rgba(119, 156, 216, 0.664) 60%;
  text-align: left;
}

#popcontent .form--entry {
  grid-column: col1-start/col2-start;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

#popcontent .form--message {
  grid-column: col2-start/col3-end;
}

#popcontent .form--message textarea {
  width: 100%;
  height: 9vh;
}

#popcontent .form--button {
  grid-column: col1-start/col3-end;
  grid-row: row2-start;
  text-align: center;
}

#poptitle,
#popcontent {
  font-size: 2rem;
  padding: 3rem;
  margin: 0;
  text-align: center;
}

#poptitle {
  color: #fff;
}

#popclose {
  font-size: 2rem;
  color: #030303;
}

#popclose {
  position: absolute;
  top: 0.1rem;
  right: 1rem;
  cursor: pointer;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  height: 100% !important;
  width: 100% !important;
}

.video-container video.fillWidth {
  width: 100%;
  margin-left: 0 !important;
}
/*# sourceMappingURL=main.css.map */