*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6;
}
@media only screen and (max-width: 37.5em) {
  body {
    max-width: 100vw;
  }
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 62.5em) {
  .container {
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }
}
@media only screen and (max-width: 50em) {
  .container {
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
}

section .features,
section .home {
  display: none;
}

.slider {
  overflow-y: hidden;
  max-height: 0; /* approximate max height */
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
  max-height: 500px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(1, 1, 0.5, 0);
}

iframe {
  height: 39rem;
  width: 80rem;
  margin: 5rem 5rem 5rem 1rem;
  background-color: #2154ac;
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 37.5em) {
  iframe {
    max-width: 87vw;
  }
}

#g6074 {
  z-index: 200;
}

.heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}
.heading-2--light {
  color: #f9f7f6;
}
.heading-2--dark {
  color: #54483a;
  text-shadow: 0.65rem 0.65rem 0.5rem rgb(114, 132, 232);
  font-weight: 800;
}

.heading-3 {
  font-size: 1.6rem;
  color: #2154ac;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 1.9rem;
}
.heading-4--light {
  color: #f9f7f6;
}
.heading-4--dark {
  color: #54483a;
}

.btn {
  background-color: #2154ac;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #1b458d;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.sidebar {
  background-color: #2154ac;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 62.5em) {
  .sidebar {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #2154ac;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem;
}
.nav-btn::before, .nav-btn::after {
  background-color: #2154ac;
  height: 2px;
  width: 4.5rem;
  content: "";
  display: block;
}
.nav-btn::before {
  transform: translateY(-1.5rem);
}
.nav-btn::after {
  transform: translateY(1.3rem);
}
@media only screen and (max-width: 62.5em) {
  .nav-btn {
    margin-top: 0;
    margin-right: 3rem;
  }
  .nav-btn::before {
    transform: translateY(-1.2rem);
  }
  .nav-btn::after {
    transform: translateY(1rem);
  }
}

.header {
  background-color: #54483a;
  grid-column: full-start/col-end 6;
  background-image: linear-gradient(rgba(16, 29, 44, 0.7), rgba(16, 29, 44, 0.7)), url(../img/hero.png);
  background-size: 15rem;
  /*background-position: ;*/
  padding: 4rem;
  padding-top: 0rem;
  max-height: 85vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content minmax(6rem, min-content);
  grid-row-gap: 1.5rem;
  justify-content: center;
}
@media only screen and (max-width: 50em) {
  .header {
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    background-size: 18rem;
    padding: 5rem;
    grid-template-columns: 1fr;
  }
}
.header__logo {
  max-height: 80vh;
  padding-right: 2rem;
  margin-top: -2rem;
  margin-left: -8rem;
  height: 70rem;
  justify-self: left;
}
@media only screen and (max-width: 37.5em) {
  .header__logo {
    width: 95vw;
    height: auto;
    justify-self: center;
    margin-left: 2rem;
  }
}
.header .header-parent-img {
  position: relative;
}
.header .header-parent-img .child-img {
  height: 6.5rem;
  max-height: 8rem;
  max-width: 100%;
  filter: brightness(85%);
  transition: all 0.25s ease-in;
}
.header .header-parent-img .child-img:hover {
  height: 7.5rem;
  filter: brightness(100%);
  margin-top: 0rem;
}
@media only screen and (max-width: 37.5em) {
  .header .header-parent-img .child-img {
    filter: brightness(100%);
    max-height: 3.5rem;
  }
}
.header .header-parent-img .img--1 {
  position: absolute;
  top: 75%;
  left: 0rem;
}
@media only screen and (max-width: 37.5em) {
  .header .header-parent-img .img--1 {
    left: 4rem;
  }
}
.header .header-parent-img .img--2 {
  position: absolute;
  top: 85%;
  left: 5.5rem;
}
@media only screen and (max-width: 37.5em) {
  .header .header-parent-img .img--2 {
    left: 8.5rem;
  }
}
.header .header-parent-img .img--3 {
  position: absolute;
  top: 90%;
  left: 15rem;
}
.header .header-parent-img .img--4 {
  position: absolute;
  top: 92%;
  left: 25rem;
}
@media only screen and (max-width: 37.5em) {
  .header .header-parent-img .img--4 {
    left: 21rem;
  }
}
.header__sub {
  max-height: 85vh;
  display: grid;
  justify-self: center;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
}
@media only screen and (max-width: 37.5em) {
  .header__sub {
    grid-template-rows: auto;
  }
}
.header__btn {
  align-self: start;
  justify-self: start;
}
@media only screen and (max-width: 37.5em) {
  .header__btn {
    align-self: center;
    justify-self: center;
  }
}
.header__seenon-text {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.5rem;
  align-items: center;
  font-size: 1.6rem;
  color: #aaa;
}
.header__seenon-text::before, .header__seenon-text::after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
}
.header__seenon-logos {
  min-height: 6rem;
  margin-top: -2rem;
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
  justify-items: center;
  align-items: center;
}
.header__seenon-logos img {
  height: 3.5rem;
  max-height: 8rem;
  max-width: 100%;
  filter: brightness(70%);
  transition: all 0.25s ease-in;
}
.header__seenon-logos img:hover {
  height: 5.5rem;
  filter: brightness(100%);
  margin-top: 0rem;
}
@media only screen and (max-width: 37.5em) {
  .header__seenon-logos img {
    filter: brightness(100%);
  }
}
.header .heading-2 {
  color: rgb(194, 188, 188);
  padding-top: 20rem;
  text-shadow: 0.25rem 0.25rem 0.25rem rgb(116, 120, 143);
}
@media only screen and (max-width: 37.5em) {
  .header .heading-2 {
    padding-top: 1rem;
    text-align: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .header .heading-1 {
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
  }
}

.recomendation {
  background-color: #101d2c;
  grid-column: col-start 7/full-end;
  padding: 3rem;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 2rem;
}
@media only screen and (max-width: 62.5em) {
  .recomendation {
    grid-column: 1/-1;
  }
}
.recomendation__list {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-column-gap: 2rem;
  grid-row-gap: 2vh;
  align-items: center;
}
@media only screen and (max-width: 50em) {
  .recomendation__list {
    grid-template-columns: repeat(3, min-content max-content);
  }
}
@media only screen and (max-width: 37.5em) {
  .recomendation__list {
    grid-template-columns: min-content max-content;
  }
}
.recomendation__img {
  width: 12rem;
  border-radius: 50%;
  display: block;
}
@media only screen and (max-width: 37.5em) {
  .recomendation__img {
    width: 9rem;
  }
}
.recomendation__sold {
  text-transform: uppercase;
  color: #aaa;
  margin-top: -3px;
}
@media only screen and (max-width: 37.5em) {
  .recomendation .heading-2 {
    font-size: 3rem;
    text-align: center;
  }
}

.features {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  display: none;
}
@supports (display: grid) {
  .features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start;
  }
}

.feature {
  float: left;
  width: 33.3333%;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
}
@supports (display: grid) {
  .feature {
    width: auto;
    margin-bottom: 0;
  }
}
.feature__icon {
  fill: #2154ac;
  width: 4.5rem;
  height: 4.5rem;
  grid-row: 1/span 2;
  transform: translateY(-1rem);
}
.feature__text {
  font-size: 1.7rem;
}

.story__pictures {
  background-color: #2154ac;
  grid-column: full-start/col-end 4;
  background-image: linear-gradient(to right, #2154ac, rgba(33, 84, 172, 0.5)), url(../img/LJ3Pr-5s.jpeg);
  background-size: cover;
  background-position: right top;
  size: 85%;
  align-self: right;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}
@media only screen and (max-width: 50em) {
  .story__pictures {
    grid-column: 1/-1;
    padding: 6rem;
  }
}
.story__img--1 {
  width: 120%;
  margin-top: -12rem;
  margin-left: -8rem;
  grid-row: 2/6;
  grid-column: 2/6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 50em) {
  .story__img--1 {
    grid-column: 1/5;
    grid-row: 1/-1;
  }
}
@media only screen and (max-width: 37.5em) {
  .story__img--1 {
    margin-top: -3rem;
    margin-left: -3rem;
  }
}
.story__img--2 {
  width: 75%;
  margin-left: 1rem;
  grid-row: 4/6;
  grid-column: 4/7;
  z-index: 20;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.6);
}
@media only screen and (max-width: 50em) {
  .story__img--2 {
    grid-row: 1/-1;
    width: 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .story__img--2 {
    margin-top: 12rem;
  }
}
.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5/full-end;
  padding: 6rem 1vw;
  /*
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        */
  display: grid;
  align-content: center;
  justify-items: start;
}
@media only screen and (max-width: 50em) {
  .story__content {
    grid-column: 1/-1;
    grid-row: 5/6;
  }
}
@media only screen and (max-width: 37.5em) {
  .story__content {
    padding-left: 1rem;
  }
}
.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem;
}
.storyvid {
  position: relative;
  display: none;
}
.story #slider1 {
  position: absolute;
  top: 25rem;
  width: 0.33vw;
  background-color: #2154ac;
}

.favorites {
  grid-column: center-start/center-end;
  margin: 8rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  /*position: relative;*/
  height: 52rem;
}
.card__side {
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(16, 29, 44, 0.15);
}
.card__side--front {
  background-color: #f9f7f6;
  padding: 1rem;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1, .card__side--back-2, .card__side--back-3 {
  background-image: linear-gradient(to right bottom, rgba(249, 247, 246, 0.1) 40% 66deg, rgba(33, 84, 172, 0.33)), url(../img/logos/hdr-1-a2.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 35rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card__picture--1 {
  background-image: url(../img/food/Grilled-Salmon-Cheesesteak3.jpeg);
}
.card__picture--2 {
  background-image: url(../img/food/Fish_Sanwich_New.jpg);
}
.card__picture--3 {
  background-image: url(../img/food/PHX-Cheesesteak-3200x3200.png);
}
.card__heading {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #f9f7f6;
  position: absolute;
  top: 25rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1, .card__heading-span--2, .card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(33, 84, 172, 0.85), rgba(27, 69, 141, 0.85));
}
.card__details {
  padding: 1rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #aaa;
}
.card__cta {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__price-box {
  text-align: center;
  color: #1b458d;
  margin-top: 10rem;
}
.card__price-box.btn {
  font-family: inherit;
  padding: 1rem 3rem;
  margin-top: -2rem;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 4rem;
  font-weight: 100;
  margin-top: 12rem;
}
@media only screen and (max-width: 56.25em), only screen and (hover: none) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #f9f7f6;
    box-shadow: 0 1.5rem 4rem rgba(16, 29, 44, 0.15);
  }
  .card__side {
    width: 200%;
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .card__side--back {
    visibility: hidden;
    /*transform: rotateY(0);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);*/
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__details {
    padding: 1rem 3rem;
  }
  .card__cta {
    position: relative;
    top: 0%;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 7rem 4rem 4rem 4rem;
  }
  .card__price-box {
    margin-bottom: 3rem;
  }
  .card__price-value {
    font-size: 4rem;
  }
}

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start/full-end;
  display: grid;
  /*grid-template-columns: repeat(8, 1fr);
     grid-template-rows: repeat(7, 5vw);*/
  grid-template: repeat(7, 5vw)/repeat(8, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}
.gallery__item--1 {
  grid-row: 1/span 2;
  grid-column: 1/span 2;
}
.gallery__item--2 {
  grid-row: 1/span 3;
  grid-column: 3/span 3;
}
.gallery__item--3 {
  grid-row: 1/span 2;
  grid-column: 6/7;
}
.gallery__item--4 {
  grid-row: 1/span 2;
  grid-column: 7/-1;
}
.gallery__item--5 {
  grid-row: 3/span 3;
  grid-column: 1/span 2;
}
.gallery__item--6 {
  grid-row: 4/span 2;
  grid-column: 3/span 2;
}
.gallery__item--7 {
  grid-row: 4/5;
  grid-column: 5/6;
}
.gallery__item--8 {
  grid-row: 3/span 2;
  grid-column: 6/span 2;
}
.gallery__item--9 {
  grid-row: 3/span 3;
  grid-column: 8/-1;
}
.gallery__item--10 {
  grid-row: 6/span 2;
  grid-column: 1/2;
}
.gallery__item--11 {
  grid-row: 6/span 2;
  grid-column: 2/span 2;
}
.gallery__item--12 {
  grid-row: 6/span 2;
  grid-column: 4/5;
}
.gallery__item--13 {
  grid-row: 5/span 3;
  grid-column: 5/span 3;
}
.gallery__item--14 {
  grid-row: 6/span 2;
  grid-column: 8/-1;
}
.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
@media only screen and (max-width: 37.5em) {
  .gallery {
    display: none;
  }
}

.footer {
  background-color: #101d2c;
  grid-column: full-start/full-end;
  background-image: linear-gradient(rgba(16, 29, 44, 0.7), rgba(16, 29, 44, 0.7)), url(../img/hero.png);
  background-size: 12rem;
  padding: 8rem;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
}
.nav__link:link, .nav span, .nav__link:visited {
  font-size: 2.4rem;
  color: #fff;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  transition: all 0.2s;
}
.nav__link:hover, .nav span:hover, .nav__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-3px);
}

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%;
}

/* (A) POPUP WRAPPER */
#popwrap {
  /* (A1) FULLSCREEN COVER*/
  position: fixed;
  top: 2vh;
  left: 17vw;
  box-shadow: 0px 0px 0px 200px rgba(0, 0, 0, 0.5);
  z-index: 200;
  /* (A2) CENTER BOX ON PAGE */
  display: flex;
  justify-content: center;
  align-items: center;
  /* (A3) HIDDEN BY DEFAULT */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}
@media only screen and (max-width: 37.5em) {
  #popwrap {
    position: relative;
    width: 97vw;
    font-size: 15%;
    top: 1vh;
    left: 1vw;
    box-shadow: none;
    margin-top: -100vh;
  }
}

/* (A4) SHOW POPUP */
#popwrap.open {
  opacity: 1;
  visibility: visible;
}

/* (B) POPUP BOX */
#popbox {
  position: relative;
  box-sizing: border-box;
  width: 70vw;
}
@media only screen and (max-width: 37.5em) {
  #popbox {
    width: 100%;
  }
}

/* (C) TITLE + TEXT + CLOSE BUTTON  */
#poptitle {
  background: #1b458d;
}

.locations {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.locations table.info {
  width: 85%;
  margin: 0 auto;
  border-spacing: 0 6px;
}
.locations table.info th,
.locations table.info td {
  font-size: small;
  padding: 12px;
  vertical-align: center;
  color: rgb(68, 68, 68);
}
.locations table.info caption {
  background-color: rgb(90, 85, 90);
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  letter-spacing: 0.085em;
}
.locations table.info th {
  text-align: left;
}
.locations table.info td {
  background-color: rgb(19, 188, 249);
}
.locations .location-details {
  width: 55%;
}
.locations .date {
  display: inline-block;
  background-color: rgb(68, 68, 68);
  color: #fff;
  padding: 4px 8px;
  border-radius: 50%;
}
.locations table.info a {
  color: rgb(3, 95, 123);
  text-decoration: underline;
}
.locations table.info a:hover {
  text-decoration: none;
}
@media only screen and (max-width: 37.5em) {
  .locations {
    font-size: 75%;
  }
}

#popcontent {
  background: #fff;
}
#popcontent .contact__content {
  max-width: 55vw;
  max-height: 35vh;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: [col1-start] 1fr [col2-start] 1fr [col3-start] 1fr [col3-end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}
@media only screen and (max-width: 37.5em) {
  #popcontent .contact__content {
    grid-template-columns: [col1-start] 1fr;
  }
}
#popcontent .contactbox .email {
  grid-column: col1-start/col2-start;
  grid-row: row1-start;
}
#popcontent .contactbox .address {
  grid-column: col2-start;
  grid-row: row1-start;
}
#popcontent .contactbox .phone {
  grid-column: col3-start;
  grid-row: row1-start;
}
@media only screen and (max-width: 37.5em) {
  #popcontent .contactbox {
    font-size: 75%;
  }
}
#popcontent .contactform {
  grid-column: col1-start/col3-end;
  grid-row: row2-start;
  display: grid;
  grid-template-columns: [col1-start] 1fr [col2-start] 1.5fr;
  grid-gap: 1rem;
  padding: 1rem;
  background: rgba(119, 156, 216, 0.664) 60%;
  text-align: left;
}
@media only screen and (max-width: 37.5em) {
  #popcontent .contactform {
    display: none;
  }
}
#popcontent .form--entry {
  grid-column: col1-start/col2-start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#popcontent .form--message {
  grid-column: col2-start/col3-end;
}
#popcontent .form--message textarea {
  width: 100%;
  height: 9vh;
}
#popcontent .form--button {
  grid-column: col1-start/col3-end;
  grid-row: row2-start;
  text-align: center;
}

#poptitle,
#popcontent {
  font-size: 2rem;
  padding: 3rem;
  margin: 0;
  text-align: center;
}
@media only screen and (max-width: 37.5em) {
  #poptitle,
  #popcontent {
    padding: 0rem;
  }
}

#poptitle {
  color: #fff;
}

#popclose {
  font-size: 2rem;
  color: rgb(3, 3, 3);
}

#popclose {
  position: absolute;
  top: 0.1rem;
  right: 1rem;
  cursor: pointer;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  height: 100% !important;
  width: 100% !important;
}

.video-container video.fillWidth {
  width: 100%;
  margin-left: 0 !important;
}/*# sourceMappingURL=main.css.map */